:root{
  --bg:#0f0f12;
  --bgw:#dddddd;
  --panel:#17181d;
  --panel2:#1e2027;
  --border:#2a2c35;
  --text:#f2f2f2;
  --muted:#b9bcc7;
  --muted1:#4b4b4b;
  --accent:#e53935;
  --accent2:#c92f2c;
  --accentmuted:#e5383575;
  --ok:#00a344;
  --warn:#c58702;
  --g-bg-color: #0d0d0d;
  --g-primary-color: #e53935;
  --g-secondary-color: #f20024;
  --g-text-color: #e5e5e5;
  --g-font-family: "Fira Code", Consolas, "Courier New", Courier, monospace;
  --g-glitch-anim-duration: 0.5s;
}

  body.light {
  --bg: var(--bgw);
  --panel: #f2f2f2;
  --panel2: #ffffff;
  --border: #cfcfcf;
  --text: #111111;
  --muted: #4b4b4b;
  --muted1: #b9bcc7;
}
body.light .navbar{ background:#f6f6f6; }
body.light .nav-links a:hover{ background:#e9e9e9; }
body.light .table th{ background:#efefef; }
body.light .table tr:hover td{ background:#f3f3f3; }

*{box-sizing:border-box}
body{
  margin:0;
  font-family: Arial, sans-serif;
  background:var(--bg);
  color:var(--text);
}

a{ color:inherit; text-decoration:none; }

.h1 {
  font-size:26px; margin:0 0 8px;
}



@import 'blocks/_card.scss';
@import 'blocks/_glitch.scss';
@import 'blocks/_form.scss';
@import 'blocks/_navbar.scss';
@import 'blocks/_google.scss';
@import 'blocks/_btn.scss';
@import 'blocks/_table.scss';
@import 'blocks/_grid.scss';
@import 'blocks/_badge.scss';
@import 'blocks/_container.scss';
@import 'blocks/_switch.scss';
@import 'blocks/_upload.scss';