.glitch {
    

    &__form {
    
        display:flex;
        justify-content:center;
        align-items:center;
        font-family:var(--g-font-family);
        background: transparent;            /* не перекриває твій body */
        padding: 30px 24px;
    }

    &__card {
        
        background-color: var(--bg);
        width: 100%;
        max-width: 520px;                  /* під твій макет */
        border: 1px solid rgba(0, 242, 234, 0.2);
        box-shadow:
            0 0 10px var(--accent2),
            inset 0 0 10px var(--bg);
        overflow: hidden;
        margin: 0 auto;
    }
}