.upload {
    width: 100%;
    
    &__container {
        position: relative;
        border: 2px dashed #898a8f;
        border-radius: 10px;
        padding: 40px;
        text-align: center;
        background-color: var(--bg);
        transition: background-color 0.3s ease-in-out;

        &:hover {
            background-color: var(--muted1);
        }

        p {
            margin: 0;
            font-size: 16px;
            color: var(--muted);
        }

        &.dragover {
            background-color: #007bff;
            border-color: white;
        }
    }

    &__input {
        display: none;
    }

    &__label {
         display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
    }

    &__icon {

        height: 80px;
        font-size: 50px;
        color: #007bff;
        margin-bottom: 10px;
    }
}